# Specifies files which should be ignored by docker. This means in effect that
# the ignored files are not sent to the docker build server, and building is
# faster because only required files are transfered.

config/
src/
target/
vendor/

.*ignore
composer.*
Dockerfile.*
Makefile
phpunit.xml*
